h2 {
    margin-top: 0;
}

#wrapper {
}

.viewport {
    margin: 10% auto 0 30%;
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.75,0.75);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.75,0.75);
    -ms-perspective: 800px;
    -ms-perspective-origin: 50% 200px;
    -ms-transform: scale(0.75,0.75);
    -o-perspective: 800px;
    -o-perspective-origin: 50% 200px;
    -o-transform: scale(0.75,0.75);
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.75,0.75);
}

.cube {
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    -ms-transition: -ms-transform 50ms linear;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateX(-10deg) rotateY(20deg);
    -o-transition: -o-transform 50ms linear;
    -o-transform-style: preserve-3d;
    -o-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

    .cube h2 {
        color: #fff;
        padding-top: 0;
        margin-top: 0;
    }

    .cube a {
        color: #fff;
    }

    .cube > div {
        position: absolute;
        height: 360px;
        width: 360px;
        padding: 20px;
        background-color: rgba(50, 50, 50, 0.85);
        font-size: 1em;
        line-height: 1em;
        color: #fff;
        border: 1px solid #555;
        border-radius: 3px;
        overflow: hidden;
    }

        .cube > div:first-child {
            -webkit-transform: rotateX(90deg) translateZ(200px);
            -moz-transform: rotateX(90deg) translateZ(200px);
            -ms-transform: rotateX(90deg) translateZ(200px);
            -o-transform: rotateX(90deg) translateZ(200px);
            transform: rotateX(90deg) translateZ(200px);
        }

        .cube > div:nth-child(2) {
            -webkit-transform: translateZ(200px);
            -moz-transform: translateZ(200px);
            -ms-transform: translateZ(200px);
            -o-transform: translateZ(200px);
            transform: translateZ(200px);
        }

        .cube > div:nth-child(3) {
            -webkit-transform: rotateY(90deg) translateZ(200px);
            -moz-transform: rotateY(90deg) translateZ(200px);
            -ms-transform: rotateY(90deg) translateZ(200px);
            -o-transform: rotateY(90deg) translateZ(200px);
            transform: rotateY(90deg) translateZ(200px);
            text-align: center;
        }

        .cube > div:nth-child(4) {
            -webkit-transform: rotateY(180deg) translateZ(200px);
            -moz-transform: rotateY(180deg) translateZ(200px);
            -ms-transform: rotateY(180deg) translateZ(200px);
            -o-transform: rotateY(180deg) translateZ(200px);
            transform: rotateY(180deg) translateZ(200px);
        }

        .cube > div:nth-child(5) {
            -webkit-transform: rotateY(-90deg) translateZ(200px);
            -moz-transform: rotateY(-90deg) translateZ(200px);
            -ms-transform: rotateY(-90deg) translateZ(200px);
            -o-transform: rotateY(-90deg) translateZ(200px);
            transform: rotateY(-90deg) translateZ(200px);
        }

            .cube > div:nth-child(5) p {
                text-align: center;
                font-size: 2.77em;
                margin: 40px;
                line-height: 60px;
            }

        .cube > div:nth-child(6) {
            -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            -o-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
        }

object {
    opacity: 0.5;
}

    object:hover {
        opacity: 1;
    }
